/* styles/ProjectCard.module.css */
.card {
    background-color: #022d58;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 25px;
    width: 50%;
    line-height: 1px;
}
  
  .header {
    text-align: center;
  }
  
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content {
    top: 5px;
    display: flex;
    flex-direction: column;
    line-height: 1px;
  }
  
  .left,
  .right {
    line-height: 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  
  .info {
    font-size: 15px;
  }
  
  .info,
  .date,
  .description {
    font-size: 15px;
    line-height: 1px;
  }
  
  /* ProjectCard.module.css */
.scroll {
  margin:4px , 4px;
  padding: 4px;
  width: 80%;
  height: 100%;
  overflow: scroll;
  white-space: nowrap;
}

.projectTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.projectTable th, .projectTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.projectTable th {
  background-color: skyblue;
}

.editButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
