/* styles/Home.module.css */
.container {
    background-color: black;
    color: white;
    height: 100vh;
  }
  
  .header {
    background-color: #04306d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 10px;
  }
  
  
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  