/* styles/Navbar.module.css */
.navbar {
  background-color: cyan;
  color: white;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  span: 15px;
}

.nav {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  padding: 80px;

}

.a {
  text-decoration: none;
  padding: 50px;
  color: white;
}

.a:hover {
  cursor: pointer;
  color: white;
}
