/* styles/Sidebar.module.css */
.sidebar {
    width: 180px;
    top: 140px;
    background-color: #004aad;
    padding: 20px;
    /* position: absolute; */
    height: calc(100vh - 95px);
  }
  
  /* styles/ProjectCard.module.css */
  .projectCard {
    flex-grow: 1;
  }
  
  /* styles/Project.module.css */
  .contents {
    display:flex;
    flex-direction: row;
  }
  